:root {
    --red-50: rgb(254, 236, 239);
    --red-100: rgb(253, 216, 224);
    --red-200: rgb(251, 172, 188);
    --red-300: rgb(249, 134, 157);
    --red-400: rgb(247, 95, 125);
    --red-500: rgb(245, 54, 92);
    --red-600: rgb(228, 11, 55);
    --red-700: rgb(170, 8, 41);
    --red-800: rgb(112, 6, 27);
    --red-900: rgb(58, 3, 14);
    --red-950: rgb(29, 1, 7);


    --orange-50: rgb(255, 239, 235);
    --orange-100: rgb(254, 222, 215);
    --orange-200: rgb(253, 194, 180);
    --orange-300: rgb(253, 161, 140);
    --orange-400: rgb(252, 128, 100);
    --orange-500: rgb(251, 99, 64);
    --orange-600: rgb(245, 49, 5);
    --orange-700: rgb(185, 37, 4);
    --orange-800: rgb(125, 25, 3);
    --orange-900: rgb(60, 12, 1);
    --orange-950: rgb(30, 6, 1);


    --yellow-50: rgb(255, 252, 240);
    --yellow-100: rgb(255, 249, 224);
    --yellow-200: rgb(255, 243, 194);
    --yellow-300: rgb(255, 237, 163);
    --yellow-400: rgb(255, 232, 138);
    --yellow-500: rgb(255, 225, 106);
    --yellow-600: rgb(255, 211, 36);
    --yellow-700: rgb(214, 171, 0);
    --yellow-800: rgb(143, 114, 0);
    --yellow-900: rgb(71, 57, 0);
    --yellow-950: rgb(36, 29, 0);


    --green-50: rgb(241, 248, 236);
    --green-100: rgb(224, 240, 213);
    --green-200: rgb(194, 226, 172);
    --green-300: rgb(166, 213, 134);
    --green-400: rgb(135, 198, 93);
    --green-500: rgb(106, 174, 61);
    --green-600: rgb(85, 140, 49);
    --green-700: rgb(65, 106, 37);
    --green-800: rgb(41, 68, 24);
    --green-900: rgb(21, 34, 12);
    --green-950: rgb(12, 19, 7);


    --blue-50: rgb(231, 250, 253);
    --blue-100: rgb(207, 245, 252);
    --blue-200: rgb(159, 235, 249);
    --blue-300: rgb(112, 225, 245);
    --blue-400: rgb(64, 215, 242);
    --blue-500: rgb(17, 205, 239);
    --blue-600: rgb(13, 164, 191);
    --blue-700: rgb(10, 123, 143);
    --blue-800: rgb(6, 82, 96);
    --blue-900: rgb(3, 41, 48);
    --blue-950: rgb(2, 21, 24);

    --purple-50: rgb(241, 235, 255);
    --purple-100: rgb(231, 219, 255);
    --purple-200: rgb(206, 184, 255);
    --purple-300: rgb(178, 143, 255);
    --purple-400: rgb(154, 107, 255);
    --purple-500: rgb(130, 71, 255);
    --purple-600: rgb(84, 5, 255);
    --purple-700: rgb(61, 0, 194);
    --purple-800: rgb(42, 0, 133);
    --purple-900: rgb(21, 0, 66);
    --purple-950: rgb(10, 0, 31);

    --pink-50: rgb(252, 237, 249);
    --pink-100: rgb(249, 220, 243);
    --pink-200: rgb(243, 181, 229);
    --pink-300: rgb(237, 146, 217);
    --pink-400: rgb(231, 111, 205);
    --pink-500: rgb(225, 73, 192);
    --pink-600: rgb(206, 34, 169);
    --pink-700: rgb(153, 25, 126);
    --pink-800: rgb(101, 17, 82);
    --pink-900: rgb(53, 9, 43);
    --pink-950: rgb(26, 4, 22);


    --gray-50: rgb(247, 247, 247);
    --gray-100: rgb(240, 240, 240);
    --gray-200: rgb(222, 222, 222);
    --gray-300: rgb(207, 206, 206);
    --gray-400: rgb(192, 191, 191);
    --gray-500: rgb(175, 174, 174);
    --gray-600: rgb(141, 140, 140);
    --gray-700: rgb(105, 104, 104);
    --gray-800: rgb(69, 68, 68);
    --gray-900: rgb(36, 35, 35);
    --gray-950: rgb(18, 18, 18);


    --base-white: #FFFFFF;
    --base-black: #000000;
}
